<!--Grids Design START-->
<div class="gridBody">
    <div class="grid" id="enterSales">
        <a class="gridOverLayer" id=""></a>
        <img src="images/form.png" alt="" class="gridIcon">
        <h4>Record Sales</h4>
    </div>
    
    <div class="grid" id="viewSales">
        <a class="gridOverLayer"></a>
        <img src="images/sView.png" alt="" class="selected">
        <h4>View Sales</h4>
    </div>
    
    <div class="grid" id='addItems'>
        <a class="gridOverLayer" id=""></a>
        <img class="selected" src="images/add.png" />
        <h4>Add Products</h4>
    </div>
    
    <div class="grid"id="viewItems" id="viewItems">
        <a class="gridOverLayer"></a>
        <img class="selected" src="images/view.png" />
        <h4>Inventory</h4>
    </div>
    
    <div class="grid" id="category">
        <a class="gridOverLayer"></a>
        <img class="selected" src="images/pcat.png" />
        <h4>Categories</h4>
    </div>
    
    <div class="grid" id="invoices">
        <a class="gridOverLayer"></a>
        <img class="selected"
            src="images/invoice.png" />
        <h4>Invoices</h4>
    </div>
    
    <div class="grid" id="warehouse">
        <a class="gridOverLayer"></a>
        <img src="images/warehouse.png" alt="" class="selected">
        <h4>Stock Mgr.</h4>
    </div>
    
    <div class="grid" id="warehouse">
        <a class="gridOverLayer"></a>
        <img src="images/warehouse.png" alt="" class="selected">
        <h4>Stock Mgr.</h4>
    </div>

</div>
<!--Grids Design END-->