.addForm {
    justify-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    height: fit-content;
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.63); */
    backdrop-filter: blur(50px);
    border: none;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 4px 15px 5px #00000050;
}

#es-header{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: rgb(94, 90, 90);
    text-shadow: 1px 1px 2px black;
    cursor: default;
}

div.added{
    background-color: white;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    overflow-y: auto;
}

ul.addedlist {
    width: 100%;
    margin: 0%;
    padding: 0%;
	box-sizing: border-box;
    overflow: auto;
}

div.added table.addedlisttable {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: left;
}
div.added table.addedlisttable th {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
}
div.added table.addedlisttable tr th, div.added table.addedlisttable tr td {
    border-bottom: 1px solid #ddd;
    height: 20px;
}

div.added table.addedlisttable tr:hover {background-color: #f5f5f5}

div.added table.addedlisttable #tHeader {
    border:  1px solid rgb(94, 90, 90);
    width: 100%;
    background-color: rgb(0, 158, 26);
}

div.added table tr.Ldata {
    color: white;
}

div.added table tr td.Ldata1, div.added li table tr td.Ldata1 {
    width: fit-content;
}

div.added table tr td.Ldata2, div.added li table tr td.Ldata2 {
    width: 120px;
}

div.added table tr td.Ldata3, div.added li table tr td.Ldata3 {
    width: fit-content;
}

div.added table tr td.Ldata4, div.added li table tr td.Ldata4 {
    width: fit-content;
}

div.added table tr td.Ldata5, div.added li table tr td.Ldata5 {
    width: fit-content;
}




div.item_view {
    background-color: rgba(255, 255, 255, 0.932);
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    max-width: 100%;
    overflow-y: auto;
	gap: 1rem 1rem;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

.item_view .mini_card {
    background-color: wheat;
    width: 120px; /* calc((100%/2)-5);*/
    height: 120px;
    display: none;
    flex-direction: column;
    position: relative;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    /* background-image: radial-gradient(circle, rgb(18, 22, 78), rgb(44, 52, 165), rgb(18, 22, 78));
	background-image: radial-gradient( rgb(44, 52, 165) 5%, rgb(18, 22, 78) 90%,  rgb(44, 52, 165) 5%); */
    text-align: center;
    color: black;
    border: 1px solid rgba(105, 105, 105, 0.479);
    box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.83);
    border-radius: 10%;
    backdrop-filter: blur(1px);
    font-size: small;
    cursor: default;
    margin: auto;
    opacity: 0;
}

.item_view .mini_card .itPrice, .item_view .mini_card .itName {
    text-align: none;
    /* margin-left: 5%; */
}

.item_view .mini_card img.itImg {
    width: 90px;
    margin: auto;
    shape-rendering: optimizeSpeed;
}

.item_view .mini_card img.itEdit {
    position: absolute;
    width: 20px;
    margin-right: 5px;
    margin-top: 5px;
    right: 0px;
    top: 0%;
    /* border: 1px dashed black; */
    border-radius: 20%;
    padding: 2%;
}

.item_view .mini_card img.itEdit:hover {
    transition: .1s ease-in;
    width: 22px;
    margin-right: 4px;
    margin-top: 4px;
    background-color: rgba(167, 167, 167, 0.288);
}